@text-color-active: #0af;
@text-color-normal: #999;

@button-tab-border-color: red;

@import '~vux/src/styles/reset.less';

body {
  background-color: #f4f4f4;
  font-family: Helvetica Neue, sans-serif;
}

html {
  height: 100%;
  body {
    height: 100%;
    #app {
      height: 100%
    }
  }
}

* {
  font-font: -apple-system-font, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.weui-dialog__bd {
  .vux-check-icon > .weui-icon-success:before {
    color: #4A90E2;
  }
}

.weui-dialog__ft {
  .weui-dialog__btn_primary {
    color: #4A90E2;
  }
}

#mine {
  .vux-badge {
    position: absolute;
    right: .8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.v-transfer-dom {
  .vux-confirm {
    .vux-x-dialog {
      .weui-dialog {
        .vux-prompt {
          padding-bottom: .5rem;
        }
      }
    }

  }
}

/*底部导航条*/
.weui-tabbar {
  background-color: #ffffff;
  display: flex;
  position: fixed;
  z-index: 500;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  div {
    width: 25%;
    .weui-tabbar__item {
      display: block;
      color: #888;
      position: relative;
      text-align: center;
      font-size: .2rem;
      height: 1rem;
      .weui-tabbar__icon {
        position: absolute;
        width: .4rem;
        height: .4rem;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .weui-tabbar__label {
        position: absolute;
        width: 100%;
        bottom: 0px;
      }
      .activeColor {
        color: #4768B0;
      }
    }
    .router-link-active {
      //color: #4768B0;
    }
  }
}

.register-wrapper {
  background-color: #0af;
  text-align: center;
  padding: .6rem 0;
  a {
    border: .05rem solid #fff;
    color: #fff;
    font-size: .75rem;
    line-height: .75rem;
    padding: .2rem .6rem;
  }

}

//首页banner样式
.vux-slider {
  .vux-swiper {
    height: 160px !important;
    .vux-swiper-item {
      a {
        .vux-img {
          width: 7.5rem !important;
          height: 3.2rem !important;
        }
        .vux-swiper-desc {
          background: none !important;
        }
      }
    }
  }
  .vux-indicator-center {
    bottom: -16px !important;
  }
}

/*登录页面样式*/
.sign-form {
  padding: 0 .75rem;
  line-height: 0;
  .form-item {
    margin-bottom: .5rem;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    .vailCode-button {
      width: 2rem;
      position: absolute;
      right: 0;
      top: 45%;
      transform: translateY(-50%);
      outline: none;
      border: none;
      background: rgba(255, 255, 255, 1);
      font-size: .28em;
      color: rgba(73, 144, 226, 1);
    }
    .nextStep {
      width: 100%;
      padding: .2rem;
      outline: none;
      border: none;
      background: #4990E2;
      font-size: .34rem;
      color: #fff;
    }
    .main-input {
      text-indent: 0;
      font-size: .28rem;

    }
  }
}

/*注册*/
#register {
  .sign-form {
    padding: 0 .75rem;
    line-height: 0;
    .form-item {
      margin-bottom: .5rem;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      .vailCode-button {
        width: 2rem;
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 1);
        font-size: .28rem;
        color: rgba(73, 144, 226, 1);
      }
      .nextStep {
        width: 100%;
        padding: .2rem;
        outline: none;
        border: none;
        background: #4990E2;
        font-size: .28rem;
        color: #fff;
      }
      .main-input {
        text-indent: 0;
        font-size: .28rem;

      }

      .vux-popup-picker-select {
        font-size: 0px;
      }
      .selected {
        .weui-cell__hd {
          color: #000;
        }
      }
    }
    .item-last {
      border-bottom: none;
      .weui-cells {
        margin-top: 0 !important;
        .vux-cell-box {
          .weui-cell {
            font-size: .3rem;
            color: #999;
            padding-left: 0;
            .vux-popup-picker-value {
              color: #000;
            }
          }
        }
      }
      .weui-cells:before {
        height: 0;
        border-top: 0;
      }
    }
    .btn-last {
      margin-bottom: 0;
    }
  }
}

.vux-x-dialog {
  .weui-dialog {
    .weui-dialog__hd {
      padding: 0;
    }
    .weui-dialog__bd {
      text-align: left;
      padding: .1rem .8rem .39rem .8rem;
    }
  }

}

.weui-cells {
  .weui-cell_switch {
    .weui-cell__bd {
      font-size: .32rem;
    }
  }
  .vux-cell-box {
    .weui-cell__hd {
      font-size: .28rem;

    }
  }
  .weui-cell {
    font-size: .32rem;
    .weui-cell__ft {
      font-size: .28rem;
      color: #666;
    }
  }
}

/*设置*/
#setup {
  .weui-cells {
    margin-top: 0;
    .vux-cell-bd {
      .vux-label {
        font-size: .32rem;
        color: #000;
      }
      .vux-label-desc {
        font-size: .24rem;
        color: #888;
        line-height: .6rem;
      }
    }
  }
}

#setKey {
  .weui-cells {
    margin-top: 0;
    .weui-cell__hd {
      font-size: .32rem;
      color: #333;
    }
    .weui-cell__bd {
      font-size: .32rem;
      color: #B2B2B2;
    }
  }
}

#Pvali {
  .weui-cells {
    margin-top: 0;
    .weui-cell {
      font-size: .32rem;
      color: #333;
      .weui-cell__ft {
        font-size: .32rem;
        color: #333;
        padding-left: .44rem;
      }
    }
    .vux-x-input {
      color: #000;
    }
  }
}

#invoice {
  .weui-cells {
    margin-top: 0;
    .weui-cells_radio .weui-icon-checked:before {
      color: #108EE9;
    }
  }
}

.middle {
  .details {
    .weui-cells {
      .weui-cell {
        font-size: .28rem;
        .weui-cell__ft {
          color: #333;
        }
      }
    }
  }
}

.weui-cells {
  .weui-cells_radio {
    .weui-cell_radio {
      color: #000;
    }
  }
}

#expense {
  .vux-cell-box {
    position: relative;
    bottom: -.3rem;
    width: 2rem;
    font-size: .32rem;
    .vux-popup-picker-select {
      text-align: left !important;
    }
    .vux-cell-value {
      color: #FFF;
    }
  }
  .weui-cell {
    width: 2rem;
    background: #4768B1;
    .vux-cell-primary {
      text-align: left;
    }
    .vux-cell-value {
      color: #FFF;
      font-size: .32rem;
    }
  }
}

#orders {
  .weui-btn_mini {
    margin-top: .14rem;
  }
  .weui-btn_default {
    font-size: .28rem;
    color: #999;
  }
  .weui-btn_primary {
    color: #FFF;
    font-size: .28rem;
    background: rgba(74, 144, 226, 1) !important;
  }
}

.work {
  .weui-cells {
    .weui-cell__bd {
      color: #333;
    }
    .vux-cell-box {
      .vux-popup-picker-select {
        text-align: left !important;
      }
      .weui-cell__hd {
        font-size: .32rem;
      }
      .vux-popup-picker-value {
        color: #333;
      }
    }
    .vux-x-textarea {
      .weui-cell__bd {
        .weui-textarea-counter {
          font-size: .2rem;
        }
      }
    }
  }
  .weui-cell__hd {
    font-size: .32rem;
    line-height: .45rem;
    color: #000;
  }
  .weui-btn_primary {
    background: rgba(74, 144, 226, 1) !important;
  }
  .vux-x-textarea {
    display: block;
    align-items: none;
    box-align: none;
  }
}

//意见反馈
#feedback {
  .weui-cells .vux-cell-box .weui-cell__hd {
    font-size: .32rem;
  }
  .text {
    .weui-cells::before {
      border-top: 0;
    }
  }
  .btn {
    .weui-btn_primary {
      background-color: rgba(74, 144, 226, 1);
    }
  }
}

//所有购买页面
#shop-host {
  .weui-cell {
    height: .88rem;
  }
  .weui-cells {
    margin-top: .2rem;
  }
  .vux-tab-wrap {
    .vux-tab .vux-tab-item {
      font-size: .32rem;
      color: #333;
    }
  }
  .vux-cell-box {
    .weui-cell__hd {
      font-size: .32rem;
    }
  }
  .weui-cells_radio {
    .weui-cell__ft {
      .weui-icon-checked:before {
        color: #108EE9;
      }
    }
  }
  .vux-label-desc {
    font-size: .22rem;
    color: #999;
  }
  .qucikly {
    margin-bottom: 1.2rem;
    .weui-cells {
      .title {
        .vux-label {
          font-size: .32rem;
        }
      }
      .ip {
        .weui-cells:before {
          left: .3rem;
        }
        .weui-cells:after {
          border-bottom: none;
        }
      }
      .vux-cell-box {
        .weui-cell__hd {
          font-size: .28rem;
        }
        .vux-popup-picker-value {
          font-size: .28rem;
        }
      }
      .weui-icon-checked:before {
        font-size: .32rem;
        color: #108EE9;
      }
      .weui-cells_checkbox {
        margin-top: 0;
        .weui-cell__bd {
          font-size: .28rem;
        }
      }
      .vux-x-input {
        .weui-cell__hd {
          font-size: .28rem;
        }
        .weui-cell__bd {
          font-size: .28rem;
        }
        .weui-input {
          color: #999;
        }
      }
      .vux-cell-primary {
        font-size: .28rem;
      }
      .vux-x-switch {
        .weui-cell__bd {
          font-size: .28rem;
        }
        .weui-switch:checked {
          border-color: #4A90E2;
          background-color: #4A90E2;
        }
      }
    }
  }
  .custom {
    margin-bottom: 1.2rem;
    .weui-cells {
      .title {
        .vux-label {
          font-size: .32rem;
        }
      }
      .ip {
        .weui-cells:before {
          left: .3rem;
        }
        .weui-cells:after {
          border-bottom: none;
        }
      }
      .vux-x-input {
        .weui-cell__hd {
          font-size: .28rem;
        }
        .weui-cell__bd {
          font-size: .28rem;
        }
        .weui-input {
          color: #999;
        }
      }
      .weui-cells_checkbox {
        margin-top: 0;
        .weui-cell__hd {
          padding-right: 0;
        }
        .weui-cell__bd {
          font-size: .28rem;
        }
        .weui-icon-checked:before {
          color: #108EE9;
          font-size: .32rem;
        }

      }
      .Cdisk {
        .weui-cell__ft {
          font-size: .24rem;
          color: rgba(42, 153, 242, 1);
        }
        .vux-label-desc {
          font-size: .24rem;
        }
      }
      .vux-cell-box {
        .weui-cell__hd {
          font-size: .28rem;
        }
        .vux-cell-primary {
          font-size: .28rem;
        }
      }
      .vux-x-switch {
        .weui-label {
          font-size: .28rem;
        }
      }
      .weui-switch:checked {
        border-color: #4A90E2;
        background-color: #4A90E2;
      }
      .weui-btn_primary {
        background-color: #4A90E2;
      }
      .number {
        font-size: .28rem;
        .vux-number-input {
          font-size: .28rem;
        }
        .vux-number-selector {
          padding: .008rem 0;
          border-color: #4A90E2;
          svg {
            width: .28rem;
            fill: #4A90E2;
          }
        }
      }
      .vux-cell-bd {
        font-size: .28rem;
      }
    }
  }
}

#shop-disk {
  .weui-cell {
    height: .88rem;
  }
  .weui-cells {
    margin-top: .2rem;
    .vux-cell-box {
      .weui-cell__hd {
        font-size: .32rem;
      }
    }
    .weui-cells_radio {
      .weui-cell__ft {
        .weui-icon-checked:before {
          color: #108EE9;
        }
      }
    }
  }
  .disk {
    .weui-cells {
      .vux-x-input {
        font-size: .28rem;
      }
      .weui-cell {
        .vux-cell-primary {
          .vux-label {
            font-size: .28rem;
          }
          .vux-label-desc {
            font-size: .24rem;
          }
        }
      }
      .vux-cell-box {
        .weui-cell__hd {
          font-size: .28rem;
        }
        .vux-cell-primary {
          font-size: .28rem;
        }
      }
      .vux-x-switch {
        .weui-cell__bd {
          font-size: .28rem;
        }
        .vux-label-desc {
          font-size: .24rem;
        }
      }
      .weui-switch:checked {
        border-color: #4A90E2;
        background-color: #4A90E2;
      }
    }
  }
}

#shop-ip {
  .weui-cell {
    height: .88rem;
  }
  .public {
    .weui-cells {
      margin-top: .2rem;
      .vux-cell-box {
        .weui-cell__hd {
          font-size: .32rem;
        }
      }
    }
  }
  .weui-cells_radio {
    .weui-cell__ft {
      .weui-icon-checked:before {
        color: #108EE9;
      }
    }
  }
  .ip {
    .weui-cells {
      margin-top: .2rem;
      .vux-cell-box {
        .weui-cell {
          font-size: .28rem;
        }
      }
      .number {
        font-size: .28rem;
        .vux-number-input {
          font-size: .28rem;
        }
        .vux-number-selector {
          padding: .008rem 0;
          border-color: #4A90E2;
          svg {
            width: .28rem;
            fill: #4A90E2;
          }
        }
      }
      .vux-x-switch {
        .weui-label {
          font-size: .28rem;
        }
        .vux-label-desc {
          font-size: .24rem;
        }
        .weui-cell__ft {
          .weui-switch:checked {
            border-color: #4A90E2;
            background-color: #4A90E2;
          }
        }
      }
    }
  }
}

#charges {
  .weui-cells {
    margin-top: .2rem;
    .vux-x-input {
      .weui-cell__bd {
        font-size: .28rem;
      }
    }
    .vux-cell-box {
      .weui-cell__hd {
        font-size: .32rem;
      }
      .vux-cell-primary {
        font-size: .28rem;
      }
    }
  }
  .weui-btn_primary {
    background: rgba(74, 144, 226, 1);
  }
}

#pay {
  .weui-cells {
    .weui-cell__ft {
      font-size: .32rem;
      color: rgba(230, 0, 27, 1);
    }
    .weui-label {
      width: auto !important;
    }
    .weui-switch:checked {
      border-color: #4A90E2;
      background-color: #4A90E2;
    }
  }
  .three {
    .weui-cells {
      margin-top: .2rem;
      .weui-cell__bd {
        font-size: .36rem;
      }
      .weui-check:checked + .weui-icon-checked:before {
        color: #4A90E2;
      }
      .weui-cells_radio {
        .weui-cell__bd {
          .vux-radio-icon {
            width: .64rem;
            height: .64rem;
          }
        }
      }
    }
  }
}

#account {
  .weui-cells {
    margin-top: .2rem;
  }
}

#orderconfirm {
  .weui-cells {
    .vux-x-switch {
      .weui-cell__bd {
        font-size: .28rem;
      }
      .weui-switch:checked {
        border-color: #4A90E2;
        background-color: #4A90E2;
      }
    }
    .weui-cell {
      .vux-cell-primary {
        font-size: .28rem;
      }
    }
  }
}

/*所有资源*/
.resouredetail {
  .vux-no-group-title {
    margin-top: 0;
    .weui-cell {
      //padding-left: .5rem;
      .weui-cell__hd {
        font-size: .32rem;
        color: #333;
      }
      .vux-cell-value {
        color: #333;
      }
    }
  }
}

#ipdetails {
  .weui-cells {
    margin-top: .2rem;
    .vux-cell-primary {
      font-size: .28rem;
    }
  }
}

#diskdetails {
  .weui-cells {
    margin-top: .2rem;
    .vux-cell-primary {
      font-size: .28rem;
    }
    .weui-cell_switch {
      .weui-cell__bd {
        font-size: .28rem;
      }
    }
  }
}

#BackupList {
  .backList {
    .weui-cells {
      margin-top: 0;
      .vux-cell-primary {
        .vux-label {
          font-size: .32rem;
          color: #000;
        }
        .vux-label-desc {
          font-size: .24rem;
          color: #888;
        }
      }

    }
  }
  .weui-cells {
    margin-top: .2rem;
  }
}

#balancedetail {
  .box {
    .weui-cells {
      margin-top: 0;
    }
  }
  .weui-cells {
    margin-top: .2rem;
    .weui-cell {
      .vux-cell-primary {
        font-size: .28rem;
        color: #333;
      }
    }
  }
  .basic {
    .vux-cell-primary {
      font-size: .32rem !important;
    }
  }
}

#balance-host {
  .weui-cells {
    margin-top: .2rem;
  }
}

