@text-color-active: #0af;
@text-color-normal: #999;

@button-tab-border-color: red;

@import '~vux/src/styles/reset.less';

body {
  background-color: #f4f4f4;
  font-family: Helvetica Neue, sans-serif;
}

* {
  font-font: -apple-system-font, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

/*底部导航条*/
.weui-tabbar {
  display: flex;
  position: fixed;
  z-index: 500;
  bottom: 0px;
  width: 100%;
  background-color: #f7f7fa;
  div {
    width: 25%;
    .weui-tabbar__item {
      display: block;
      color: #888;
      position: relative;
      text-align: center;
      font-size: .2rem;
      height: 1rem;
      .weui-tabbar__icon {
        position: absolute;
        width: .4rem;
        height: .4rem;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .weui-tabbar__label {
        position: absolute;
        width: 100%;
        bottom: 0px;
      }
      .activeColor {
        color: #4768B0;
      }
    }
    .router-link-active {
      //color: #4768B0;
    }
  }
}

.register-wrapper {
  background-color: #0af;
  text-align: center;
  padding: .6rem 0;
  a {
    border: .05rem solid #fff;
    color: #fff;
    font-size: .75rem;
    line-height: .75rem;
    padding: .2rem .6rem;
  }

}

/*登录页面样式*/
.sign-form {
  padding: .2rem;
  line-height: 0;
  .form-item {
    margin-bottom: .24rem;
    border: 1px solid #dfdfdf;

    .vailCode-button {
      position: absolute;
      right: .5rem;
      top: 50%;
      padding: .2rem;
      transform: translateY(-50%);
      border-radius: 3px;
      outline: none;
      border: none;
      background-color: #1AAD19;
      font-size: .3rem;
      color: #fff;
    }
  }
}

.vux-x-dialog {
  .weui-dialog {
    .weui-dialog__hd {
      padding: 0;
    }
    .weui-dialog__bd {
      text-align: left;
      padding: .1rem .8rem .39rem .8rem;
    }
  }

}

.weui-cells {
  .weui-cell_switch {
    .weui-cell__bd {
      font-size: .32rem;
    }
  }
  .vux-cell-box {
    .weui-cell__hd {
      font-size: .28rem;

    }
  }
  .weui-cell {
    font-size: .32rem;
    .weui-cell__ft{
      color: #333;
    }
  }
}

#setup {
  .weui-cells {
    margin-top: 0;
    .vux-cell-bd {
      .vux-label {
        font-size: .32rem;
        color: #000;
      }
      .vux-label-desc{
        font-size: .24rem;
        color: #888;
        line-height: .6rem;
      }
    }
  }
}
#setKey{
  .weui-cells{
    margin-top: 0;
    .weui-cell__hd{
      font-size: .32rem;
      color: #333;
    }
    .weui-cell__bd{
      font-size: .32rem;
      color: #B2B2B2;
    }
  }
}
#setPhone{
  .weui-cells{
    .weui-cell{
      font-size: .32rem;
      color: #333;
      .weui-cell__ft{
        font-size: .32rem;
        color: #333;
      }
    }
    .vux-x-input{
      color: #000;
    }
  }
}



