@text-color-active: #0af;
@text-color-normal: #999;

@button-tab-border-color: red;

@import '~vux/src/styles/reset.less';

body {
  background-color: #f4f4f4;
  font-family: Helvetica Neue, sans-serif;
}

html {
  height: 100%;
  body {
    height: 100%;
    #app {
      height: 100%
    }
  }
}

* {
  font-font: -apple-system-font, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

/*底部导航条*/
.weui-tabbar {
  display: flex;
  position: fixed;
  z-index: 500;
  bottom: 0px;
  width: 100%;
  background-color: #f7f7fa;
  div {
    width: 25%;
    .weui-tabbar__item {
      display: block;
      color: #888;
      position: relative;
      text-align: center;
      font-size: .2rem;
      height: 1rem;
      .weui-tabbar__icon {
        position: absolute;
        width: .4rem;
        height: .4rem;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .weui-tabbar__label {
        position: absolute;
        width: 100%;
        bottom: 0px;
      }
      .activeColor {
        color: #4768B0;
      }
    }
    .router-link-active {
      //color: #4768B0;
    }
  }
}

.register-wrapper {
  background-color: #0af;
  text-align: center;
  padding: .6rem 0;
  a {
    border: .05rem solid #fff;
    color: #fff;
    font-size: .75rem;
    line-height: .75rem;
    padding: .2rem .6rem;
  }

}

//首页banner样式
.vux-slider {
  .vux-swiper {
    height: 160px !important;
    .vux-swiper-item {
      a {
        .vux-img {
          width: 7.5rem !important;
          height: 3.2rem !important;
        }
        .vux-swiper-desc {
          background: none !important;
        }
      }
    }
  }
  .vux-indicator-center {
    bottom: -10px !important;
  }
}

/*登录页面样式*/
.sign-form {
  padding: 0 .75rem;
  line-height: 0;
  .form-item {
    margin-bottom: .8rem;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    .vailCode-button {
      width: 2rem;
      position: absolute;
      right: 0;
      top: 45%;
      transform: translateY(-50%);
      outline: none;
      border: none;
      background: rgba(255, 255, 255, 1);
      font-size: .24em;
      color: rgba(73, 144, 226, 1);
    }
    .nextStep {
      width: 100%;
      padding: .2rem;
      outline: none;
      border: none;
      background: #4990E2;
      font-size: .34rem;
      color: #fff;
    }
    .main-input {
      text-indent: 0;
      font-size: .24rem;

    }
  }
}

#register {
  .sign-form {
    padding: 0 .75rem;
    line-height: 0;
    .form-item {
      margin-bottom: .8rem;
      border: none;
      border-bottom: 1px solid #dfdfdf;
      .vailCode-button {
        width: 2rem;
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 1);
        font-size: .24em;
        color: rgba(73, 144, 226, 1);
      }
      .nextStep {
        width: 100%;
        padding: .2rem;
        outline: none;
        border: none;
        background: #4990E2;
        font-size: .34rem;
        color: #fff;
      }
      .main-input {
        text-indent: 0;
        font-size: .24rem;

      }
    }
    .item-last {
      border-bottom: none;
      .weui-cells {

        margin-top: 0 !important;
        .vux-cell-box {
          .weui-cell {
            font-size: .24rem;
            color: #999;
            padding-left: 0;
            .vux-popup-picker-value {
              color: #000;
            }
          }
        }
      }
      .weui-cells:before {
        height: 0;
        border-top: 0;
      }
      .weui-cells:after {
        border-bottom: 1px solid #999;
      }
    }
    .btn-last {
      margin-bottom: 0;
    }
  }
}

.vux-x-dialog {
  .weui-dialog {
    .weui-dialog__hd {
      padding: 0;
    }
    .weui-dialog__bd {
      text-align: left;
      padding: .1rem .8rem .39rem .8rem;
    }
  }

}

.weui-cells {
  .weui-cell_switch {
    .weui-cell__bd {
      font-size: .32rem;
    }
  }
  .vux-cell-box {
    .weui-cell__hd {
      font-size: .28rem;

    }
  }
  .weui-cell {
    font-size: .32rem;
    .weui-cell__ft {
      font-size: .28rem;
      color: #666;
    }
  }
}

#setup {
  .weui-cells {
    margin-top: 0;
    .vux-cell-bd {
      .vux-label {
        font-size: .32rem;
        color: #000;
      }
      .vux-label-desc {
        font-size: .24rem;
        color: #888;
        line-height: .6rem;
      }
    }
  }
}

#setKey {
  .weui-cells {
    margin-top: 0;
    .weui-cell__hd {
      font-size: .32rem;
      color: #333;
    }
    .weui-cell__bd {
      font-size: .32rem;
      color: #B2B2B2;
    }
  }
}

#Pvali {
  .weui-cells {
    .weui-cell {
      font-size: .32rem;
      color: #333;
      .weui-cell__ft {
        font-size: .32rem;
        color: #333;
        padding-left: .44rem;
      }
    }
    .vux-x-input {
      color: #000;
    }
  }
}

#invoice {
  .weui-cells {
    margin-top: 0;
  }
}

.middle {
  .details {
    .weui-cells {
      .weui-cell {
        font-size: .28rem;
        .weui-cell__ft {
          color: #333;
        }
      }
    }
  }
}

.weui-cells {
  .weui-cells_radio {
    .weui-cell_radio {
      color: #000;
    }
  }
}

#expense {
  .vux-cell-box {
    position: relative;
    bottom: -.3rem;
    width: 2rem;
    font-size: .32rem;
    .vux-popup-picker-select {
      text-align: left !important;
    }
    .vux-cell-value {
      color: #FFF;
    }
  }
  .weui-cell {
    width: 2rem;
    background: #4768B1;
    .vux-cell-primary {
      text-align: left;
    }
    .vux-cell-value {
      color: #FFF;
      font-size: .32rem;
    }
  }
}

#orders {
  .weui-btn_mini {
    margin-top: .14rem;
  }
  .weui-btn_default {
    font-size: .28rem;
    color: #999;
  }
  .weui-btn_primary {
    color: #FFF;
    font-size: .28rem;
    background: rgba(74, 144, 226, 1) !important;
  }
}

.work {
  .weui-cells {
    .vux-cell-box {
      .vux-popup-picker-select {
        text-align: left !important;
      }
    }
  }
  .weui-cell__hd {
    font-size: .32rem;
    line-height: .45rem;
    color: #000;
  }
  .weui-btn_primary {
    background: rgba(74, 144, 226, 1) !important;
  }

}

#feedback {
  .weui-cells .vux-cell-box .weui-cell__hd {
    font-size: .32rem;
  }
  .text {
    .weui-cells::before {
      border-top: 0;
    }
  }
  .btn {
    .weui-btn_primary {
      background-color: rgba(74, 144, 226, 1);
    }
  }
}


