.link-button-default {
  font-size: .7rem;
  padding: .2rem .4rem;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
}

.link-button-main {
  background-color: #f80;
  color: #fff;
  border: 1px solid #f80;
}
